@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  html {
    font-family: Inter, system-ui, sans-serif;
  }
}

.nav-item {
  @apply max-lg:h-16 lg:px-4 flex items-center hover:text-indigo-500 max-lg:border-b max-lg:border-gray-300 text-indigo-900
}