@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

/* Replace default font family */
@layer base {
  html {
    font-family: Inter, system-ui, sans-serif;
  }
}

/* remove all the tap highlight color in mobile device */
@layer base {
    html {
        -webkit-tap-highlight-color: transparent;
    }
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.section-div {
  @apply text-slate-800 max-w-2xl text-left
}

.section-title {
  @apply uppercase font-semibold mb-2 md:mb-4
}

.section-subtitle {
  @apply text-2xl md:text-4xl font-semibold mb-3 md:mb-6
}

.section-description {
  @apply text-xl
}

/* hide number input field arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}